body {
    color: #0F1111;
    font-size: 14px;
    line-height: 20px;
}

#ba_main {
    display: block;
    /* overflow: hidden; */
    background: white;
    padding: 0 0 60px 0;
}

section {
    width: 100%;
    height: auto;
}

h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    display: block;
    /* margin: 20px 0 7px 20px; */
    border-bottom: 1px solid #ddd;
}

.row_left {
    float: left;
    margin: 20px 0 7px 20px;
    width: 65%;
    height: auto;
    border: 1px solid #ddd;
    overflow: visible;
    padding: 0 20px;
    /* position: absolute; */
}

.row_right {
    float: right;
    margin: 20px 0 7px 20px;
    width: 25%;
    height: 100%;
    border: 1px solid #ddd;
    overflow: visible;
    padding: 0 20px;
}

.row_left img {
    width: 200px;
    border: 0;
    height: 200px;
    padding: 20px 10px;
    display: inline-block;
}

.row_right>p {
    margin: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.row_right>p a {
    text-decoration: none;
    cursor: pointer;
    color: #007185;

}

.ba_btn {
    background-color: orange;
    cursor: pointer;
    border: 1px solid orange;
    margin: 10px 50px 20px 50px;
    padding: 10px 80px 10px 70px;
    border-radius: 10px;
}

input.ba_btn[type="submit"]:hover {
    background-color: rgb(194, 135, 8);
}

.side2 {
    display: inline-block;
    float: right;
    width: 601px;
}

.ba_paragraph{
    margin-right: 123px;
    margin-top: -227px;
    list-style: none;
    padding: 0px;
}

li {
    padding-bottom: 10px;
}

.ba_link2, .ba_link3{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-right: 15px;
    padding-left: 15px;
}
span>a{
    color:#007185;
    text-decoration: none;
}
.selectbox{
    text-align: left;
    border: 1px solid rgb(218, 233, 240);
    background-color: rgb(218, 233, 240);
    margin: 10px 30px 20px 8px;
    padding: 10px 10px 10px 20px; 
    border-radius: 10px;
}







.navFooterBackToTop{
    background-color:rgb(9, 9, 133);
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.navFooterBackToTopText{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navFooterLinkCol{    
    background-color:rgb(3, 3, 45);
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.navFooterLinkBox{
    width: 200px;
    height: 300px;
    margin: 20px;
}
.navFooterLinkBox .h1style{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.navFooterLinkBox .ulstyle>li{
    font-size: 20px;
    margin-top: 5px;
    list-style: none;
}
.ulstyle>li a{
    color: rgb(215, 206, 206);
    text-decoration: none;
}
.ulstyle>li a:hover{
    text-decoration:underline
}
.cont_horizontal{
    background-color:rgb(3, 3, 45);
    height: 100px;
}
.horizontal{
    background-color: gray;
    height: 0.2px;
}
.logoAmazonFoot{
    text-align: center;
    margin-top: 30px;
}
.logoAmazonFoot a{
    text-decoration: none;
}
.logoAmazonFoot i{
    color: yellow;
    font-size: 20px;   
}
.logoAmazonFoot span{
    font-size: 30px;
    color: white;
    display: block;
}
.footerMoreAmazon{    
    background-color:rgb(5, 5, 40);
    height:350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.navFooterMoreOnAmazon{
    width: 200px;
    height: 300px;
    margin: 20px;
}
.navFooterMoreOnAmazon .ulstyle1>li{
    font-size: 20px;
    margin-top: 5px;
    list-style: none;
}
.navFooterMoreOnAmazon .ulstyle2>li{
    font-size: 20px;
    margin-top: 5px;
    list-style: none;
}
.ulstyle1>li a{
    color: rgb(215, 206, 206);
    text-decoration: none;
}
.ulstyle1>li a:hover{
    text-decoration:underline
}
.ulstyle2>li a{
    color: rgb(215, 206, 206);
    text-decoration: none;
}
.ulstyle2>li a:hover{
    text-decoration:underline
}
.ulstyle1 .dif a{
    color: white;
}
.ulstyle2 .dif a{
    color: white;
}
.endFooter{
    background-color:rgb(5, 5, 40);
    width: 100%;
    text-align: center;
}
.endFooter ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.endFooter a{
    text-decoration: none;
    color: white;
}
.endFooter a:hover{
    text-decoration: underline;
}
.endFooter .txt{
    color: white;
} 




