#ba_main {
    display: block;
    overflow: hidden;
}

.ba_content {
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
}

.ba_content h2 {
    display: block;
    margin: 5px 0px 7px 0;
    color: #C60 !important;
    font-size: 18px !important;
    line-height: 32px;
    padding-bottom: 4px;
    margin-left: 20px;
}

#ba_left>h3 {
    font-weight: 500;
    line-height: 36px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;

}

#left {
    float: left;
    width: 45%;
    height: auto;
    margin-left: 20px;
    overflow: visible;
    border-top: 1px solid #ddd;
    padding: 12px 18px;
}

th {
    text-align: left;
    padding: 7px 14px 6px 20px;
    border-top: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: #565959;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;

}

td {
    border-top: 1px solid #e7e7e7;
    color: #4c4e4e;
    padding: 7px 14px 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

#right {
    float: right;
    width: 50%;
    height: auto;
    margin-right: 20px;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    margin-top: -20px;
    margin-bottom: 8px;

}

#ba_right>h3 {
    font-weight: 500;
    line-height: 36px;
    margin-top: -35px;


}

.ba_Warranty>h2 {
    color: black;
    float: right;
    display: block;
    margin: 5px 450px 7px;
    border-bottom: 1px solid #CCC;
    padding: 0 0 7px 10px;
    font-size: 20px;
    font-weight: 500;
}

h2~p {
    color: #0F1111;
    font-size: 16px;
    line-height: 20px;
    float: right;
    margin: 5px 30px 7px 100px;

}

.ba_description {
    height: 40px;
    margin-bottom: -18px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);

}

.ba_description>h2 {
    display: block;
    margin: 30px 0px 10px 20px;
    color: #CC6600;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 4px;
    font-weight: 700;
}

h2~p {
    color: #0F1111;
    font-size: 16px;
    line-height: 20px;
    float: right;
    margin: 5px 30px 7px 100px;

}

.description {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    float: left;
    margin: 0 0 7px 40px;
    border-bottom: 1px solid #ddd;
    padding: 12px 18px;
    width: 100%;
}